<ion-header>
  <ion-toolbar>
    <ion-title>Add New Client</ion-title>
  </ion-toolbar>
</ion-header>
  <!-- button for adding a client -->
  <ion-fab colour="danger" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Client Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Name"></ion-input>
      <ion-input placeholder="Email" type="email"></ion-input>
      <ion-input placeholder="Password" type="password"></ion-input>
      <ion-button expand="full">Add Client</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
