<ion-content>
  <!-- If there are no clients, show a message -->
  <ion-card *ngIf="clients.length === 0">
    <ion-card-header>
      <ion-card-title>No clients found</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      It looks like you don't have any clients yet. Please add clients to your list.
    </ion-card-content>
  </ion-card>

  <!-- If there are clients, show them in a list -->
  <ion-card>
    <ion-list *ngIf="clients.length > 0">
      <ion-card-header>
        <ion-card-title>Your Clients</ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let client of clients">
        <ion-label>
          <h2>{{ client.name }}</h2>
          <p>{{ client.email }}</p>
          <p><strong>Fitness Program:</strong> {{ client.fitness_program }}</p>
          <p><strong>Joined:</strong> {{ client.joined_date | date }}</p>
          <p *ngIf="client.special_health_notes"><strong>Health Notes:</strong> {{ client.special_health_notes }}</p>
          <!-- Buttons for edit and delete -->
          <ion-button (click)="editClient(client.client_id)" fill="clear" color="black" slot="end">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteClient(client.client_id)" fill="clear" color="danger" slot="end">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- button for adding a client -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addClient()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
