<ion-content>
  <!-- Search Bar -->
  <ion-searchbar 
    [(ngModel)]="searchTerm"
    (ionInput)="filterClients()" 
    debounce="0" 
    placeholder="Search Clients"
    showClearButton="focus">
  </ion-searchbar>

  <!-- If there are no filtered clients, show a message -->
  <ion-card *ngIf="filteredClients.length === 0 && searchTerm.trim() !== ''">
    <ion-card-header>
      <ion-card-title>No clients found</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>There are no clients with that Name.</h2>
    </ion-card-content>
  </ion-card>

  <!-- If there are clients, show them in a list -->
  <ion-card>
    <ion-list *ngIf="filteredClients.length > 0">
      <ion-card-header>
        <ion-card-title>Your Clients</ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let client of filteredClients">
        <ion-label>
          <h2>{{ client.name }}</h2>
          <p>{{ client.email }}</p>
          <p><strong>Fitness Program:</strong> {{ client.fitness_program }}</p>
          <p><strong>Joined:</strong> {{ client.joined_date | date }}</p>
          <p *ngIf="client.special_health_notes"><strong>Health Notes:</strong> {{ client.special_health_notes }}</p>
          <!-- Buttons for edit, delete and view -->
          <ion-button (click)="editClient(client.client_id)" fill="clear" color="black" slot="end">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteClient(client.client_id)" fill="clear" color="danger" slot="end">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="viewClient(client.client_id)" fill="clear" color="black" slot="end">
            View
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- button for adding a client -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addClient()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <!-- Help Widget -->
    <ion-alert trigger="present-help-clientslist" header="Help: Clients List"
    subHeader="This page displays the list of clients for the logged in trainer."
    message="You can utilise the search bar on this page to filter through clients that you are currently training.\n Each client will have three options for you to choose: Edit, Delete and View. If no clients are showing up, please delete all cookies and try again."></ion-alert>


  <!-- Display help widget -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="present-clientslist">
      <ion-icon name="help"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
