<ion-header>
  <ion-toolbar>
    <ion-title>Edit Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Client Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Name"></ion-input>
      <ion-input placeholder="Email" type="email"></ion-input>
      <ion-input placeholder="Password" type="password"></ion-input>
      <ion-button expand="full">Update Client</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
