<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hello, {{trainerName}}!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Welcome to the Personal Trainer Admin app. This app is designed as an administrative frontend for usage by Personal Trainers to search, add, edit and update clients.
      <ion-card-subtitle>
        <em>Ionic application developed by Brodie Morgan and Moss Cluney.</em>
      </ion-card-subtitle>
    </ion-card-content>
   
  </ion-card>
</ion-content>
