<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to the Trainer Client App!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Thank you for using the Trainer Client app! This app is specifically designed to help clients manage and interact with their own profile, and view your trainer, effectively. Whether you are adding viewing your details or membership information or viewing your current workout plan, this app provides you with a simple and intuitive interface to make the process as smooth as possible.</p>

      <h2>App Features:</h2>
      <ul>
        <li><strong>Display Client Details:</strong> Quickly view your details and membership information.</li>
        <li><strong>View Current Workout Plan:</strong> Preview your workout rountine, to get yourself prepared before seeing your trainer.</li>
      </ul>

      <h3>Getting Started:</h3>
      <p>To begin, simply log in with your credentials and navigate to the relevant page using the app's menu. You can manage all your data in one central location, ensuring that you are prepared for your next training session.</p>
      
      <p><strong>Important Note:</strong> Your data is secure and encrypted, ensuring that your clients' personal and fitness details are always protected.</p>

      <ion-card-subtitle>
        <em>Ionic application developed by Brodie Morgan and Moss Cluney.</em>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Support & Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>If you encounter any issues or have questions about the app, please feel free to reach out to our support team. We are here to help you make the most of this app!</p>

      <h4>Contact Us:</h4>
      <p><strong>Email:</strong> <a href="mailto:support@personaltrainerapp.com">support&#64;personaltrainerapp.com</a></p>
      <p><strong>Phone:</strong> 1800-123-456</p>

      <p>We appreciate your feedback to help us improve and provide you with the best possible experience!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
