ion-card {
    margin: 16px;
    padding: 16px;
  }
  
  
  ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  ion-card-content {
    margin-top: 8px;
  }
  
  ion-card-subtitle {
    font-size: 0.875rem;
    font-style: italic;
    color: var(--ion-color-medium);
  }
  
  ion-icon {
    color: white; 
}
