<ion-content>

  <ion-card *ngIf="workoutPlan">
    <ion-card id="workoutPlanHeaderCard">
      <ion-card-header color="primary">
        <ion-card-title>Your Workout Plan</ion-card-title>
        <ion-card-subtitle><b>Fitness Program:</b> <em> {{ workoutPlan[0].fitness_program.toUpperCase() }}
          </em></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-list *ngFor="let day of workoutPlan; index as i">
      <ion-item-divider
        *ngIf="workoutPlan[0] == workoutPlan[i] || workoutPlan[i - 1].day != workoutPlan[i].day"></ion-item-divider>
      <ion-item>
        <ion-label>
          <ion-text *ngIf="workoutPlan[0] == workoutPlan[i] || workoutPlan[i - 1].day != workoutPlan[i].day">
            <h1><strong> {{ day.day }}</strong></h1>
            <hr>
          </ion-text>
          <p><strong>Exercise:</strong> {{day.exercise_name}}</p>
          <p><em>{{day.description}}</em></p>
          <hr>
          <h2>Sets</h2>
          <ion-list>
            <ion-item class="setItem" *ngFor="let set of day.sets; index as i">
              <p>Set #{{i + 1}}: {{set}} rep(s)</p>
            </ion-item>
          </ion-list>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Help Widget -->
  <ion-alert trigger="present-help-clientworkout" header="Help: Client Workout Plan"
    subHeader="This page displays all personal client workout information."
    message="If the information looks incorrect, please clear the cookies of your page and retry login."></ion-alert>


  <!-- Display help widget -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="present-help-clientworkout">
      <ion-icon name="help"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>