<ion-header>
  <ion-toolbar>
    <ion-title>Client Workout Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-list *ngIf="workoutPlan">
    <ion-card-header>
      <ion-card-title>Your Clients</ion-card-title>
      <ion-card-subtitle ><strong>Fitness Program:</strong><em> {{ workoutPlan[0].fitness_program }}</em></ion-card-subtitle>
    </ion-card-header>
    <ion-item *ngFor="let day of workoutPlan">
      <ion-label>
        <h2>{{ day.name }}</h2>
        <p>{{ day.email }}</p>
        <p><strong>Day:</strong> {{ day.day }}</p>
        <p><strong>Exercise:</strong> {{day.exercise_name}}</p>
        <p>{{day.description}}</p>
        <h3>Sets</h3>
        <ion-list>
          <ion-item *ngFor="let set of day.sets; index as i">
            <p>Set #{{i + 1}}: {{set}}</p>
          </ion-item>  
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>
